body {
	background-color: transparent;
	font-family: "Lato";
	font-size: 36pt;
	margin: 16px;
	position: relative;
	-webkit-user-select: none;
}
.red {
	background-color: #e42;
}

html {
	background-color: #fcfcfc;
}

button.title {
	font-size: 60pt;
	width: 100%;
	text-align: center;
	outline: none;
	border: none;
	font-family: "Lato";
	background-color: transparent;
	font-weight: bold;
}

h1 {
	font-size: 60pt;
	width: 100%;
	text-align: center;
}


input[type=checkbox] {
	width: 56px;
	height: 56px;
	margin: 32px;
}

#container > div {
	margin: 16px;
	cursor: pointer;
}

a {
	color: black;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 24px;
	text-decoration: none;	
	margin-left: 72px;
	margin-top: 64px;
	-webkit-touch-callout: none;
	display: inline-block; 
	z-index: 100;
}

#watermark {
	position: absolute;
	top: 20%;
	left: 0;
	font-size: 360pt;
	width: 100%;
	text-align: center;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.2);
	transform: rotate(-20deg);
}
span.bold {
	display: inline-block;
	float: right;
	margin-top: 28px;
	margin-right: 132px;
	font-weight: bold;
}

.lr {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0;
}

::-webkit-scrollbar {
	display: none;
}
