#+++++++++++++++++++++++
#ide files
#(custom)
bin/


#end netbeans fies
#++++++++++++++++++++++++

*.class


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
/Dashboard/nbproject/private/